aclocal.m4
autom4te*.cache
configure
config.h*
confdefs.h
config.status
libtool
stamp-h*

Makefile
Makefile.in
.deps
.libs
.dirstamp

test-driver
*.log
*.trs

tests/*.out

*.o
*.a
*.so
*.lo
*.la

zap-test
zapc-c
c-zap.pc

*.tar.gz

subprojects/googletest-*
subprojects/packagecache
subprojects/.wraplock
